.Layout {
  min-height: 100%;
  display: grid;
  grid-template-rows: 5% 94% 1%;
  grid-template-columns: repeat(6, 1fr);
  color: black;
  margin-bottom: 40px;
}

.Layout > header,
.Layout > footer {
  grid-column: span 6;
}

.Layout > aside{
  grid-column: span 2;
}

main {
  grid-column: span 4;
}
